@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="/css/index.css">

<div class="text-center">
    <img src="~/img/logo-main-bg.png" />
    <h1>YAMAHA <span>EVENTOS</span></h1>
</div>
