@page "{eventId:Guid}/{supplyId:Guid}"
@model YamahaEventos.Pages.Checked.VoucherModel
@{
    var message = ViewData["Message"]?.ToString();
    var typeMessage = ViewData["TypeMessage"]?.ToString();
    var name = ViewData["Name"]?.ToString();
    var position = ViewData["Position"]?.ToString();
    var departament = ViewData["Departament"]?.ToString();
}

<link rel="stylesheet" href="/css/btn.css">

<div class="mb-3 d-flex justify-content-between align-items-cente">
    <h1>Realizar Registro</h1>
    <a href="/Checked/ListVoucher/@Model.EventId" class="btn btn-primary btn-block">Voltar</a>

</div>


<hr />

@if (!string.IsNullOrWhiteSpace(message))
{
    @if (!string.IsNullOrWhiteSpace(typeMessage))
    {
        <div class="alert alert-danger" role="alert" data-dismiss="alert" autohide="true" data-delay="10000">
            @message
        </div>

    }
    else
    {
        <div class="alert alert-success" role="alert" data-dismiss="alert" autohide="true" data-delay="10000">
            @message
        </div>
    }
}

<form method="post">
    <input type="number" name="rfidCode" id="CodeRead" placeholder="Encoste o seu crachá" />
    <button class="btn btn-primary" type="submit">Confirmar</button>
</form>


<div>

    <h3>@name</h3>
    <br />
    <h3>@position</h3>
    <br />
    <h3>@departament</h3>
</div>

<script>

    document.getElementById("CodeRead").focus();
</script>
