@page "{id:Guid}"
@model YamahaEventos.Pages.Events.AddOrganizerModel
@{
    ViewData["Title"] = "Gestão de Organização";
}

<h2>@ViewData["Title"]</h2>

<hr />


<html>
    <head>

    </head>
    <body>
        <h1 class="mb-3">Cadastro</h1>

        <form method="post">

            <div class="mb-3">

                <label class="form-label">Nome do Evento</label><br />
            
                <input type="text" class="form-control" asp-for="EditEventViewModel.Name" readonly />

            </div>


            <div class="mb-3">

                <label class="form-label">Matrícula</label><br />
                <span asp-validation-for="AddOrganizerViewModel.Registration" class="text-danger"></span>
                <input type="text" class="form-control" asp-for="AddOrganizerViewModel.Registration" />

            </div>

            <div class="mb-3">

                <label class="form-label">Nome</label><br />
                <span asp-validation-for="AddOrganizerViewModel.Name" class="text-danger"></span>
                <input type="text" class="form-control" asp-for="AddOrganizerViewModel.Name" />

            </div>

            <div class="mb-3">

                <label class="form-label">Email</label><br />
                <span asp-validation-for="AddOrganizerViewModel.Email" class="text-danger"></span>
                <input type="email" class="form-control" asp-for="AddOrganizerViewModel.Email" />

            </div>

            <div class="mb-3">

                <label class="form-label">Departamento</label><br />
                <span asp-validation-for="AddOrganizerViewModel.Departament" class="text-danger"></span>
                <input type="text" class="form-control" asp-for="AddOrganizerViewModel.Departament" />

            </div>

            <div class="mb-3">

                <label class="form-label">Selecione o nível de apoio</label><br />
            
                <input type="radio"  asp-for="AddOrganizerViewModel.OrganizerType" value="1" checked /> Organizador
                <br />
                <input type="radio"  asp-for="AddOrganizerViewModel.OrganizerType" value="2"/> Staff


            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>


        </form>




    </body>



</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");



    }
}












